<nav>

    <div class="nav-list">
        <div>
            <img src="" alt="">
        </div>
        <ul class="nav-item-list">
            <li class="nav-item">Men</li>
            <li class="nav-item">Women</li>
            <li class="nav-item">Kids</li>
            <li class="nav-item">Home & Living</li>
            <li class="nav-item">Beauty</li>
            <li class="nav-item">Studio</li>
        </ul>
        <div>
            <input class="nav-item" type="text" name="search" id="search-box">
            <button class="nav-item">Profile</button>
            <button class="nav-item">Wishlist</button>
            <button class="nav-item">Bag</button>
        </div>
    </div>

</nav>