<nav>

    <div class="nav-list">
        <div class="logo">
            <a routerLink="/">
                <img src="./../../assets/images/logo.png" alt="Ecart's logo" width="40" height="40">
            </a>
        </div>
        <ul class="nav-item-list">
            <li class="nav-item" *ngFor="let category of categories">
                <a [routerLink]="['/products', category]"> {{category}} </a> 
            </li>
        </ul>
        <div style="float:right">
            <input class="nav-item" type="text" name="search" id="search-box">
            <button class="nav-item">Profile</button>
            <button class="nav-item">Wishlist</button>
            <button class="nav-item">Bag</button>
        </div>
    </div>

</nav>